<% if (locals.message) { %>
  <p><%= message %></p>
  <% } %>

  <main class="container-fluid no-gutters">
    <div class="row no-gutters">
      <% websites.forEach((website) => { %>
        <div class="website col-lg-4 col-md-6 no-gutters">
        <div class="website-background" style="background-image: url(<%= website.screenshotUrl %>)">
        </div>
        </div>
        <% }); %>
      </div>
    </main>
