<div class="container">
  <div class="row">
    <div class="about col-9 mx-auto">
      <h1>About Can I Launch</h1>
      <h2>The landbook for startups</h2>
      <p>Do you have a website for your start up or e-commerce business? You have worked on your website for months and you are     wondering if it's ready for the world? <a href="/websites/new">Submit your website</a> and get feedback from experienced entrepreneurs, web designers, and web developers. Make sure your ideas reach your customers and nail conversion on Day 1! </p>
    </div>
  </div>
</div>
