<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>
<div class="container login-wrapper">
  <div class="row">
<form method="POST" action="/login" class="col-lg-4 col-sm-12 mx-auto">
  <div class="form-field">
    <input type="text" name="username" id="username" class="input-field" placeholder="Username" required autofocus>
  </div>
  <div class="form-field">
    <input type="password" name="password" id="password" class="input-field" placeholder="Password" required>
  </div>

  <button class="btn btn-block btn-primary">Login</button>
</form>
</div>
</div>
