@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Old+Standard+TT|Open+Sans:400');
$primary-color: #008F95;
$secondary-color: #E9B000;
$accent-color: #EB6E80;
$a-color: rgba(0,0,0,0.7);
$paragraph: 20px;
$header-font: 'Montserrat', sans-serif;
$standard-font: 'Open Sans', sans-serif;
