@import "variables";
// layouts

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  box-sizing: border-box;
  padding: 0 0 30px;
  min-height: 100%;
  position: relative;
 }

 footer {
    bottom: 0;
    font-family: $header-font;
    color: #999;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col,[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//typography

h1 {
  font-family: $header-font;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

p {
  margin-top: 10px;
  font-size: $paragraph;
  font-family: $standard-font;
}

// navbar

nav {
  margin: 80px 0;
  ul {
    a {
      margin: 0 20px;
      font-size: $paragraph;
      font-weight: bold;
      color: $a-color;
      &:hover {
        color: $primary-color;
        border-bottom: solid 3px $primary-color;
        padding-bottom: 5px;
      }
    }
  }
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
        z-index: -1;
    }
}

//buttons

.btn {
  cursor: pointer;
}

.btn-group {
  float: right;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  padding: 20px;
  margin-top: 15px;
  font-size: 20px;
  &:hover {
    background-color: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.btn-danger {
  background-color: $accent-color;
  border-color: $accent-color;
  &:hover {
    background-color: darken($accent-color, 10%);
    border-color: darken($accent-color, 10%);
  }
}

//frontpage

.website {
  p {
    text-align: center;
  }
}

.website-name {
  text-align: center;
}

.website-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  height: 400px;
  @media (min-width: 768px) {
    height: 460px;
  }
  &:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.95);
    opacity: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
  }
  &:hover:after {
    opacity: 1;
    cursor: pointer;
  }
}

.website-hover-content {
  z-index: 2;
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    color: $secondary-color;
  }
  a {
    color: white;
    font-size: $paragraph;
    &:hover {
      color: $secondary-color;
      }
    }
}

.align {
  max-width: 50%;
}

// Show page

.showpage {
  h1, h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 25px;
  }
  a:hover {
    opacity: 0.9;
  }
  p {
    font-size: 24px;
    }
}

.show-website {
  margin: 0 auto;
  width: 100%;
}

.comments {
  margin: 10px 0;
}

.quotation-marks {
  font-size: 40px;
  font-family: 'Old Standard TT', serif;
}

//Forms

.login-wrapper {
  margin-top: 100px;
}


.form-field {
  margin: 30px 0;
}

input {
  background: none;
  border: none;
  border-bottom: solid 3px #DDD;
  font-size: $paragraph;
  font-weight: 500;
  padding: 10px 10px;
  margin: 0;
  width: 100%;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
  &:focus {
    outline: none;
    border-bottom: solid 3px $primary-color;
  }
}

textarea {
  background: none;
  border: 1px solid #DDD;
  border-radius: 5px;
  font-size: $paragraph;
  font-weight: 500;
  height: 150px;
  outline: none;
  resize: none;
  padding: 10px;
  width: 100%;
  &:focus {
    border: solid 3px $primary-color;
  }
}

//Edit page

#edit-button {
  min-width: 150px;
}

.profile-text {
  color: $primary-color;
}
