@import "variables";

body {
  box-sizing: border-box;
}

nav {
  ul{
    a {
      margin: 20px;
      font-weight: bold;
      color: $color-link;
      &:hover {
        color: $primary-color;
        border-bottom: solid 3px $primary-color;
        padding-bottom: 5px;
      }
    }
  }
}

.btn {
    margin: 0 auto;
}

.btn-primary {
  background-color: $primary-color;
  text-align: center;
  border-color: $primary-color;
}

.logo {
  width: 300 px;
}

.website {
  p {
    text-align: center;
  }
}

.website-name {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration:none;
    }
  }
}

.website-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  height: 350px;
  &:hover {

  }
}

//Forms

.login-wrapper {
  margin-top: 100px;
}


.form-field {
    border-bottom: solid 3px $primary-color;
    margin: 30px 0;
    padding: 10px 0;
}

input {
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width: 100%;
  background: none;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

input:focus, textarea:focus {
  outline      : none;
}
