@import "variables";

body {
  box-sizing: border-box;
}

nav {
  margin: 20px 0;
  ul {
    a {
      margin: 0 20px;
      font-size: $paragraph;
      font-weight: bold;
      color: $color-link;
      &:hover {
        color: $primary-color;
        border-bottom: solid 3px $primary-color;
        padding-bottom: 5px;
      }
    }
  }
}

.btn {
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 10%);
    cursor: pointer;
  }
}

.website {
  p {
    text-align: center;
  }
}

.website-name {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration:none;
    }
  }
}

.website-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  height: 350px;
  &:hover {
    //darken and show link overlay
  }
}

//Forms

.login-wrapper {
  margin-top: 100px;
}


.form-field {
  margin: 30px 0;
}

input {
  font-size: $paragraph;
  font-weight: 500;
  border: none;
  padding: 10px 10px;
  margin: 0;
  width: 100%;
  border-bottom: solid 3px #DDD;
  background: none;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: solid 3px $primary-color;
}
